html, body {
    margin: 0; /* Remove default margin */
}
  
body {
    background-image: url('../media/achtergrond2.jpg');
    background-size: cover; /* Ensure the image covers the entire screen */
    background-position: center center; /* Center the image */
    background-attachment: fixed; /* Optional: Makes the background image stay fixed when scrolling */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}

#koptekst{
    width: 100%;
    text-align: center;
}

.keuzeblok{
    float: left;
    width: 400px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    margin: 54px;
}

.selectiefoto{
    width: 360px;
    height: 380px;
    object-fit: cover;
    margin: 20px;
    margin-bottom: 10px;
}

p{

    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: green;
}

#pijl{
    position: absolute;
    height: 100px;
    left: 100px;
    top: 40px;
}