body {
    background-image: url('./media/backgroundgames.jpg');
    background-size: cover; /* Ensure the image covers the entire screen */
    background-position: center center; /* Center the image */
    background-attachment: fixed; /* Optional: Makes the background image stay fixed when scrolling */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}